<div class="container-fluid bottom-nav-bar" style="color: white">
    <p style="margin-right: 15%">Contact us if you are interested in learning more or have any questions!</p>
    <p style="margin-right: 1%">Email: <a href= "mailto: supadeveloper@change++.com">supadeveloper@changeplusplus.com</a></p>
    <p style="margin-right: 1%">|</p>
    <p>Phone: (123) 456-7890</p>
</div>

<style>
    .bottom-nav-bar {
        display: flex;
        align-items: center;
        background-color: #222222;
        margin-top: 0;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .bottom-nav-bar p {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
    }

    .bottom-nav-bar a {
        color: white;
    }
</style>