<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-lg navbar-light topNavBar" role="navigation">
    <a class="navbar-brand" href="https://www.vanderbilt.edu/">
        <span class="linkStyle">VANDERBILT</span>
        <img src="../public/vanderbilt-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="linkStyle">UNIVERSITY</span>
    </a>
</nav>

<style>
    .topNavBar {
        background-color: #222222;
        height: 65px;
    }

    .linkStyle {
        color: white;
    }
</style>