<!-- views/partials/header.ejs -->

<!--<nav class="navbar navbar-expand-lg navbar-light topNavBar" role="navigation">
    <a class="navbar-brand" href="https://www.vanderbilt.edu/">
        <span class="linkStyle linkFont">VANDERBILT</span>
        <img src="../public/vanderbilt-logo.png" class="titlePic" alt="">
        <span class="linkStyle linkFont secondTitleDiv">UNIVERSITY</span>
    </a>-->
    <!-- Page Directory Display -->
    <!--<nav aria-label="breadcrumb">
        <ol class="breadcrumb page-extension breadcrumb-div">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/about">Search</a></li>
            <li class="breadcrumb-item active" aria-current="page">Results</li>
        </ol>
    </nav>
</nav>-->

<!-- Title Bar -->
<div class="container-fluid topNavBar">
    <!--<h1 class="site-title">Black Alumni Directory</h1>-->

    <a class="navbar-brand titleLink" href="https://www.vanderbilt.edu/">
        <span class="linkStyle">VANDERBILT</span>
        <img src="../public/vanderbilt-logo.png" class="titlePic" alt="">
        <span class="linkStyle">UNIVERSITY</span>
    </a>

    <div class="pageInnerTitleDiv breadcrumbStyle">
        <h5 class="headerStyle">BLACK ALUMNI DIRECTORY</h3>
    </div>
    

    <!-- Page Directory Display -->
    <nav class="pageStyle" aria-label="breadcrumb">
            <ol class="breadcrumb page-extension breadcrumbStyle">
                <li class="breadcrumb-item itemStyle"><a href="/">Home</a></li>
                <li class="breadcrumb-item itemStyle"><a href="/about">Search</a></li>
                <li class="breadcrumb-item active itemStyle" aria-current="page">Results</li>
            </ol>
    </nav>

    <!-- Utility div to ensure everything after is below above items -->
    <div class="clear-floats"></div>
</div>

<style>
    .breadcrumbStyle {
        background-color: #f9e9c0;
    }

    .pageInnerTitleDiv {
        border-radius: 7px;
        padding: 1.25% 0.75% 0.5% 0.75%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
    }

    .headerStyle {
        color: black;
        font-family: 'Times New Roman', Times, serif;
    }

    .topNavBar {
        background-color: #222222;
        height: 100px;
        display: flex;
        padding: 1.75%;
        align-items: center;
    }

    .pageStyle {
        position: relative;
        margin-left: auto;
        margin-right: 0;
        margin-top: 1.25%;
    }

    .itemStyle {
        float: right;
        margin-right: 0;
        padding: 0;
    }

    .titlePic {
        height: 40px;
        width: auto;
    }

    .linkStyle {
        color: white;
        font-size: 150%;
        font-family: 'Times New Roman', Times, serif;
    }
</style>