
h3 {
    margin-left: 8%;
}

#mainImg {
    width: 60%;
    height: auto;
    margin-left: 20%;
}
#searchOptions{
    margin-left: 30%;
    margin-top: 2%;
}

#search2{
    margin-top: 2%;
}

#logo{
    height: 20%;
    width: 100%;
}

.everything{
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {

    color: black;
}

#facultyBtn{
    background-color: #ccc;
}

#alumniBtn{
    background: #ccc;
}
