#navbarshrink {
  position: fixed;
  display: block;
  transition: top 0.3s;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
	transition: 0.6s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.div_background {
    background-image: url('https://peabody.vanderbilt.edu/admin-offices/popge/images/wyatt-center.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height:auto;
    background-size: 100% 100%;
}



.inner_jumbotron_div {
    color: black;
    background: rgba(106, 146, 235, 0.3);
    text-align: center;
    padding: 2%;
}

.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
}

.form-inline { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.form-inline div span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; 
}

.form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.checkbox-div {
    background-color: white;
    border-radius: 5px;
    padding: 2%;
}

.checkbox-label {
    margin: 0;
}

.select-div {
    padding: 5% 2% 0 2%;
    text-align: left;
    height: 100%;
}

.select-div input {
    margin-left: 3%;
}

.select-div label {
    margin-left: 20%;
}

.select-div h4 {
    margin-left: 5%;
}

.form-elegant {
    position: relative;
    height: 100px;
    overflow-y: scroll;
}

.checkbox-outerDiv {
    text-align: left;
}

.search-by-div {
    background-color: rgb(217, 219, 223);
    margin-bottom: 0; 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.outer-select-div {
    margin-top: 3%;
    margin-bottom: -2%;
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    height: 100%;
    background-color: white;
    margin-right: -1.5%;
}

.outer-select-div1 {

    margin-top: 6%;
    border: 1px solid #E9ECEF;
    border-radius: 5px;
    height: 100%;
    background-color: white;
    margin-left: -15%;
    margin-right: -40%;
}

.scrollbar-light-blue::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar-light-blue::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar-light-blue::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(130, 163, 255);
}