#Name {
	font-family: franklin-gothic-urw,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	margin-left: 2%;
	margin-top: 2%;
}

#Photo {
	padding-left: 50px;
	padding-top: 65px;

}

#Biography {
	padding-top: 30px;
	padding-right: 100px;
	padding-left: 400px;
}

#Contact {
	padding-left: 50px;
	padding-bottom: 100px;
}


#Email {
	margin-top: 1%;
	font-family: franklin-gothic-urw,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#Phone {
	margin-top: 1%;
	font-family: franklin-gothic-urw,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#Location{
	margin-top: 1%;
	font-family: franklin-gothic-urw,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

thead {
	margin-left: 2%;
}


