<!DOCTYPE html>
<html lang="en">

<head>

  <script>
    var fileName;

    function getFileName() {
      fileName = document.getElementById('fileName').files[0].name;
      document.getElementById('fileValue').value = fileName;
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Profile Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/main.css">
  <link rel="stylesheet" href="../public/addprofile/addProfileStyle.css">

</head>

<body>

<header> <%- include('../partials/header'); %> </header>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Add Profile</h2>
    </div>
    <div class="row clearfix">
      <form action="http://changedirectory.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
        <div class="input_field form_control">
          <div class="col_md_6 col_half" style="padding-left:15px;">
            <input type="hidden" name="key" value="${filename}">
            <input type="file" name="file" id="fileName">
          </div>
          <div class="col_md_6 col_half">
            <button onclick="getFileName()" type="submit" class="btn btn-success" style="float:right;">Upload Photo</button>
          </div>
        </div>
      </form>
      <br>
      <form action="/addprofile" method="post" class="needs-validation">
        <div class="row clearfix">
          <div class="col_md_6 col_half">
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="first_name" placeholder="First Name" required />
            </div>
          </div>
          <div class="col_md_6 col_half">
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="last_name" placeholder="Last Name" required />
            </div>
          </div>
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
          <input type="text" name="preferred_name" placeholder="Preferred Name" required/>
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
          <input type="email" name="email" placeholder="Email" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
          <input type="tel" name="phone" placeholder="Phone" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
          <input type="text" name="location" placeholder="Location" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
          <input type="text" name="occupation" placeholder="Occupation" required />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
          <input type="text" name="organization" placeholder="Organization" required />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
          <input type="text" name="external_link" placeholder="Website or External Link" />
        </div>

    </div>
    <div class="row">
      <div class="input_field form_control col-md-6">

        <select name="department">
          <option value="no_department_selected">Department</option>
          <option value="Human and Organizational Development">Human and Organizational Development</option>
          <option value="Leadership, Policy, and Organizations">Leadership, Policy, and Organizations</option>
          <option value="Psychology and Human Development">Psychology and Human Development</option>
          <option value="Special Education">Special Education</option>
          <option value="Teaching and Learning">Teaching and Learning</option>
        </select>
      </div>

      <div class="input_field form_control col-md-6">

        <select name="major_or_program">
          <option value="no_major_selected">Major or Program</option>
          <option value="Human and Organizational Development">Human and Organizational Development</option>
          <option value="Human Development Counseling">Human Development Counseling</option>
          <option value="Community Development and Action">Community Development and Action</option>
          <option value="School Counseling">School Counseling</option>
          <option value="Community Research and Action">Community Research and Action</option>
          <option value="Higher Education Administration">Higher Education Administration</option>
          <option value="Education Policy">Education Policy</option>
          <option value="International Education Policy and Management">International Education Policy and Management</option>
          <option value="Leadership and Organizational Performance">Leadership and Organizational Performance</option>
          <option value="K-12 and Higher Education Leadership and Policy">K-12 and Higher Education Leadership and Policy</option>
          <option value="Leadership and Learning in Organizations">Leadership and Learning in Organizations</option>
          <option value="Leadership and Policy Studies">Leadership and Policy Studies</option>
          <option value="Independent School Leadership">Independent School Leadership</option>
          <option value="Child Development">Child Development</option>
          <option value="Cognitive Studies">Cognitive Studies</option>
          <option value="Child Studies">Child Studies</option>
          <option value="Quantitative Methods">Quantitative Methods</option>
          <option value="Psychological Sciences">Psychological Sciences</option>
          <option value="Psychological Sciences - Clinical Science">Psychological Sciences - Clinical Science</option>
          <option value="Psychological Sciences - Cognitive and Cognitive Neuroscience">Psychological Sciences - Cognitive and Cognitive Neuroscience</option>
          <option value="Psychological Sciences - Developmental Science">Psychological Sciences - Developmental Science</option>
          <option value="Psychological Sciences - Neuroscience">Psychological Sciences - Neuroscience</option>
          <option value="Psychological Sciences - Quantitative Methods and Evaluation">Psychological Sciences - Quantitative Methods and Evaluation</option>
          <option value="Special Education">Special Education</option>
          <option value="Special Education - Early Childhood">Special Education - Early Childhood</option>
          <option value="Special Education - High Incidence Disabilities">Special Education - High Incidence Disabilities</option>
          <option value="Special Education - Severe Disabilities">Special Education - Severe Disabilities</option>
          <option value="Special Education - Visual Disabilities">Special Education - Visual Disabilities</option>
          <option value="Early Childhood Education">Early Childhood Education</option>
          <option value="Elementary Education">Elementary Education</option>
          <option value="Secondary Education">Secondary Education</option>
          <option value="English Language Learners">English Language Learners</option>
          <option value="Learning and Design">Learning and Design</option>
          <option value="Learning, Diversity, and Urban Studies"> Learning, Diversity, and Urban Studies</option>
          <option value="Reading Education">Reading Education</option>
          <option value="Learning, Teaching, and Diversity">Learning, Teaching, and Diversity</option>
          <option value="Learning, Teaching, and Diversity - Language, Literacy, and Culture">Learning, Teaching, and Diversity - Language, Literacy, and Culture</option>
          <option value="Learning, Teaching, and Diversity - Development, Learning, and Diversity">Learning, Teaching, and Diversity - Development, Learning, and Diversity</option>
          <option value="Learning, Teaching, and Diversity - Mathematics and Science Education">Learning, Teaching, and Diversity - Mathematics and Science Education</option>
          <option value="Learning, Teaching, and Diversity - Learning Sciences and Learning Environment Design">Learning, Teaching, and Diversity - Learning Sciences and Learning Environment Design</option>
        </select>
      </div>

      <div class="input_field form_control col-md-6">
        <select name="relation">
          <option value="no_relation_selected">Relation to Vanderbilt</option>
          <option value="Faculty">Faculty</option>
          <option value="Alumni">Alumni</option>
          <option value="Staff">Staff</option>
          <option value="Undergraduate Student">Undergraduate Student</option>
          <option value="Professional Student">Professional Student</option>
          <option value="Graduate Student">Graduate Student</option>
        </select>
      </div>

      <div class="input_field form_control col-md-6">
        <select name="graduation_year">
          <option value=2022>Graduation Year</option>
          <option value=1920>1920</option>
          <option value=1921>1921</option>
          <option value=1922>1922</option>
          <option value=1923>1923</option>
          <option value=1924>1924</option>
          <option value=1925>1925</option>
          <option value=1926>1926</option>
          <option value=1927>1927</option>
          <option value=1928>1928</option>
          <option value=1929>1929</option>
          <option value=1930>1930</option>
          <option value=1931>1931</option>
          <option value=1932>1932</option>
          <option value=1933>1933</option>
          <option value=1934>1934</option>
          <option value=1935>1935</option>
          <option value=1936>1936</option>
          <option value=1937>1937</option>
          <option value=1938>1938</option>
          <option value=1939>1939</option>
          <option value=1940>1940</option>
          <option value=1941>1941</option>
          <option value=1942>1942</option>
          <option value=1943>1943</option>
          <option value=1944>1944</option>
          <option value=1945>1945</option>
          <option value=1946>1946</option>
          <option value=1947>1947</option>
          <option value=1948>1948</option>
          <option value=1949>1949</option>
          <option value=1950>1950</option>
          <option value=1951>1951</option>
          <option value=1952>1952</option>
          <option value=1953>1953</option>
          <option value=1954>1954</option>
          <option value=1955>1955</option>
          <option value=1956>1956</option>
          <option value=1957>1957</option>
          <option value=1958>1958</option>
          <option value=1959>1959</option>
          <option value=1960>1960</option>
          <option value=1961>1961</option>
          <option value=1962>1962</option>
          <option value=1963>1963</option>
          <option value=1964>1964</option>
          <option value=1965>1965</option>
          <option value=1966>1966</option>
          <option value=1967>1967</option>
          <option value=1968>1968</option>
          <option value=1969>1969</option>
          <option value=1970>1970</option>
          <option value=1971>1971</option>
          <option value=1972>1972</option>
          <option value=1973>1973</option>
          <option value=1974>1974</option>
          <option value=1975>1975</option>
          <option value=1976>1976</option>
          <option value=1977>1977</option>
          <option value=1978>1978</option>
          <option value=1979>1979</option>
          <option value=1980>1980</option>
          <option value=1981>1981</option>
          <option value=1982>1982</option>
          <option value=1983>1983</option>
          <option value=1984>1984</option>
          <option value=1985>1985</option>
          <option value=1986>1986</option>
          <option value=1987>1987</option>
          <option value=1988>1988</option>
          <option value=1989>1989</option>
          <option value=1990>1990</option>
          <option value=1991>1991</option>
          <option value=1992>1992</option>
          <option value=1993>1993</option>
          <option value=1994>1994</option>
          <option value=1995>1995</option>
          <option value=1996>1996</option>
          <option value=1997>1997</option>
          <option value=1998>1998</option>
          <option value=1999>1999</option>
          <option value=2000>2000</option>
          <option value=2001>2001</option>
          <option value=2002>2002</option>
          <option value=2003>2003</option>
          <option value=2004>2004</option>
          <option value=2005>2005</option>
          <option value=2006>2006</option>
          <option value=2007>2007</option>
          <option value=2008>2008</option>
          <option value=2009>2009</option>
          <option value=2010>2010</option>
          <option value=2011>2011</option>
          <option value=2012>2012</option>
          <option value=2013>2013</option>
          <option value=2014>2014</option>
          <option value=2015>2015</option>
          <option value=2016>2016</option>
          <option value=2017>2017</option>
          <option value=2018>2018</option>
          <option value=2019>2019</option>
          <option value=2020>2020</option>
          <option value=2021>2021</option>
          <option value=2022>2022</option>
          <option value=2023>2023</option>
          <option value=2024>2024</option>
          <option value=2025>2025</option>
          <option value=2026>2026</option>
          <option value=2027>2027</option>
          <option value=2028>2028</option>
          <option value=2029>2029</option>
          <option value=2030>2030</option>
          <option value=2031>2031</option>
          <option value=2032>2032</option>
          <option value=2033>2033</option>
          <option value=2034>2034</option>
          <option value=2035>2035</option>
          <option value=2036>2036</option>
          <option value=2037>2037</option>
          <option value=2038>2038</option>
          <option value=2039>2039</option>
          <option value=2040>2040</option>
          <option value=2041>2041</option>
          <option value=2042>2042</option>
          <option value=2043>2043</option>
          <option value=2044>2044</option>
          <option value=2045>2045</option>
          <option value=2046>2046</option>
          <option value=2047>2047</option>
          <option value=2048>2048</option>
          <option value=2049>2049</option>
          <option value=2050>2050</option>
        </select>
      </div>

    </div>

    <div class="row">
      <div class="input_field form_control">
        <input type="hidden" class="form-control" id="fileValue" name="file_name">
      </div>

      <button type="submit" class="btn btn-success float-right">Add Profile</button>
      </form>

    </div>
  </div>
</div>

<footer class="footer"> <% include ../partials/footer %> </footer>

</body>