<!DOCTYPE html>
<html lang="en">

<head>

  <script>
    var fileName;

    function getFileName() {
      fileName = document.getElementById('fileName').files[0].name;
      document.getElementById('fileValue').value = fileName;
    }
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add New Profile Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../public/main.css">
  <link rel="stylesheet" href="../public/addprofile/addProfileStyle.css">

</head>

<body>

<header> <%- include('../partials/header'); %> </header>
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
      <h2>Add Profile</h2>
    </div>
    <div class="row clearfix">
      <form action="http://changedirectory.s3.amazonaws.com/" method="post" enctype="multipart/form-data">
        <div class="input_field form_control">
          <div class="col_md_6 col_half" style="padding-left:15px;">
            <input type="hidden" name="key" value="${filename}">
            <input type="file" name="file" id="fileName" required>
          </div>
          <div class="col_md_6 col_half">
            <button onclick="getFileName()" type="submit" class="btn btn-success" style="float:right;">Upload Photo</button>
          </div>
        </div>
      </form>
    </div>
    <p>*note: you must press upload photo to confirm the image</p>
      <form action="/addprofile" method="post" class="needs-validation" novalidate>
        <div class="row clearfix">
          <div class="col_md_6 col_half">
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="first_name" placeholder="First Name" required />
            </div>
          </div>
          <div class="col_md_6 col_half">
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="last_name" placeholder="Last Name" required />
            </div>
          </div>
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
          <input type="text" name="preferred_name" placeholder="Preferred Name" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
          <input type="email" name="email" placeholder="Email" required />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
          <input type="tel" name="phone" placeholder="Phone" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
          <input type="text" name="location" placeholder="Location" />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
          <input type="text" name="occupation" placeholder="Occupation" required />
        </div>

        <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
          <input type="text" name="external_link" placeholder="Website or External Link" required />
        </div>

        </div>
        <div class="row">
        <div class="input_field form_control col-md-6">

          <select name="department">
            <option value="no_department_selected">Department</option>
            <option value="Human and Organizational Development">Human and Organizational Development</option>
            <option value="Leadership, Policy, and Organizations">Leadership, Policy, and Organizations</option>
            <option value="Psychology and Human Development">Psychology and Human Development</option>
            <option value="Special Education">Special Education</option>
            <option value="Teaching and Learning">Teaching and Learning</option>
          </select>
        </div>

        <div class="input_field form_control col-md-6">

          <select name="major_or_program">
            <option value="no_major_selected">Major or Program</option>
            <option value="Human and Organizational Development">Human and Organizational Development</option>
            <option value="Human Development Counseling">Human Development Counseling</option>
            <option value="Community Development and Action">Community Development and Action</option>
            <option value="School Counseling">School Counseling</option>
            <option value="Community Research and Action">Community Research and Action</option>
            <option value="Higher Education Administration">Higher Education
              Administration</option>
            <option value="Education Policy">Education Policy</option>
            <option value="International Education Policy and Management">International
              Education Policy and Management</option>
            <option value="Leadership and Organizational Performance">Leadership and
              Organizational Performance</option>
            <option value="K-12 and Higher Education Leadership and Policy">K-12 and
              Higher Education Leadership and Policy</option>
            <option value="Leadership and Learning in Organizations">Leadership and
              Learning in Organizations</option>
            <option value="Leadership and Policy Studies">Leadership and Policy Studies</option>
            <option value="Independent School Leadership">Independent School Leadership</option>
            <option value="Child Development">Child Development</option>
            <option value="Cognitive Studies">Cognitive Studies</option>
            <option value="Child Studies">Child Studies</option>
            <option value="Quantitative Methods">Quantitative Methods</option>
            <option value="Psychological Sciences">Psychological Sciences</option>
            <option value="Psychological Sciences - Clinical Science">Psychological Sciences -
              Clinical Science</option>
            <option value="Psychological Sciences - Cognitive and Cognitive
              Neuroscience">Psychological Sciences - Cognitive and Cognitive Neuroscience</option>
            <option value="Psychological Sciences - Developmental Science">Psychological
              Sciences - Developmental Science</option>
            <option value="Psychological Sciences - Neuroscience">Psychological Sciences -
              Neuroscience</option>
            <option value="Psychological Sciences - Quantitative Methods and
              Evaluation">Psychological Sciences - Quantitative Methods and Evaluation</option>
            <option value="Special Education">Special Education</option>
            <option value="Special Education - Early Childhood">Special Education - Early
              Childhood
            </option>
            <option value="Special Education - High Incidence Disabilities">Special
              Education - High Incidence Disabilities</option>
            <option value="Special Education - Severe Disabilities">Special Education -
              Severe Disabilities</option>
            <option value="Special Education - Visual Disabilities">Special Education -
              Visual Disabilities</option>
            <option value="Early Childhood Education">Early Childhood Education</option>
            <option value="Elementary Education">Elementary Education</option>
            <option value="Secondary Education">Secondary Education</option>
            <option value="English Language Learners">English Language Learners</option>
            <option value="Learning and Design">Learning and Design</option>
            <option value="Learning, Diversity, and Urban Studies"> Learning, Diversity,
              and Urban Studies</option>
            <option value="Reading Education">Reading Education</option>
            <option value="Learning, Teaching, and Diversity">Learning, Teaching, and
              Diversity</option>
            <option value="Learning, Teaching, and Diversity - Language, Literacy, and Culture
                ">Learning, Teaching, and Diversity - Language, Literacy, and Culture</option>
            <option value="Learning, Teaching, and Diversity - Development, Learning,
              and Diversity">Learning, Teaching, and
              Diversity - Development, Learning, and Diversity</option>
            <option value="Learning, Teaching, and Diversity - Mathematics and Science Education
                ">Learning, Teaching, and Diversity - Mathematics and Science Education</option>
            <option value="Learning, Teaching, and Diversity - Learning Sciences and Learning Environment Design">
              Learning, Teaching, and
              Diversity - Learning Sciences and Learning Environment Design</option>
          </select>
        </div>

        <div class="input_field form_control col-md-6">
          <select name="relation">
            <option value="no_relation_selected">Relation to Vanderbilt</option>
            <option value="Faculty">Faculty</option>
            <option value="Alumni">Alumni</option>
            <option value="Staff">Staff</option>
            <option value="Undergraduate Student">Undergraduate Student</option>
            <option value="Professional Student">Professional Student</option>
            <option value="Graduate Student">Graduate Student</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="input_field form_control">
          <input type="hidden" class="form-control" id="fileValue" name="file_name">
        </div>

        <button type="submit" class="btn btn-success float-right">Add Profile</button>
      </form>

</div>
</div>

<footer class="footer"> <%- include('../partials/footer'); %> </footer>
</body>
