<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/addProfile/addProfileStyle.css">

    <title>Add Profile - Black Alumni Directory</title>
</head>

<body>
  <header>
      <% include ../partials/header %>
  </header>
  <div class="container">
    <% if (message != '') { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
    <form class="add-profile-form" action="" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-4">
              <input type="text" class="form-control" name="preferred_name" id="preferred_name" placeholder="Preferred Name" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="relation" id="relation" placeholder="Relation to Vanderbilt" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="major" id="major" placeholder="Major/Program" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="location" id="location" placeholder="Location" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="bio" id="bio" placeholder="Biography" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Phone Number" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="email" id="email" placeholder="Email Address" required>
            </div>
            <div class="form-group col-md-4">
                <input type="text" class="form-control" name="pic" id="pic" placeholder="Picture" required>
            </div>
        </div>
      <button type="submit" class="btn btn-primary float-right">Add</button>
        </form>
    </div>
</div>
</body>

