<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Profile Form</title>
    <link rel="stylesheet" href="../public/addprofile/addProfileStyle.css">

</head>

<body>
<div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Add Profile</h2>
      </div>
      <div class="row clearfix">
        <div class="">
          
          <form action="/addprofile" method="post" class="needs-validation" novalidate>
              <div class="row clearfix">
                  <div class="col_half">
                    <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                      <input type="text" name="first_name" placeholder="First Name" required />
                    </div>
                  </div>
                  <div class="col_half">
                    <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                      <input type="text" name="last_name" placeholder="Last Name" required />
                    </div>
                  </div>
              </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
              <input type="text" name="preferred_name" placeholder="Preferred Name" />
            </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="email" name="email" placeholder="Email" required />
            </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
              <input type="tel" name="phone" placeholder="Phone" />
            </div>
            
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-map-marker"></i></span>
                <input type="text" name="location" placeholder="Location" />
            </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-book"></i></span>
              <input type="text" name="major_or_program" placeholder="Major or Program" />
            </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-hand-peace-o"></i></span>
              <input type="text" name="relation" placeholder="Relation to Vanderbilt" />
            </div>
  
            <div class="input_field form_control"> <span><i aria-hidden="true" class="fa fa-suitcase"></i></span>
                <input type="text" name="occupation" placeholder="Occupation" required />
            </div>
            
                <div class="input_field radio_option form_control">
                <input type="radio" name="radiogroup1" id="rd1">
                <label for="rd1">Male</label>
                <input type="radio" name="radiogroup1" id="rd2">
                <label for="rd2">Female</label>
                </div>
  
            <button type="submit" class="btn btn-success float-right">Add Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>