<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--   <script src ="search.js" type="text/javascript"></script> -->
    <script scr="jquery-2.1.4.js"></script>
    <title>Vanderbilt Black Alumni</title>
    <link rel="stylesheet" type="text/css" href="/public/landingpage/landingstyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body >
    <header> <% include ../partials/header %></header>

<div class="everything">

    <!--<div class="header">
        <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="#">


                <span class="align-right">Vanderbilt Black Alumni Directory</span>
            </a>
        </nav>
    </div> -->

    <div class="container bodyContent">
<div>
    <h3 id="Title"> Welcome to the Vanderbilt University Peabody College Black Alumni Directory</h3>

   <img id= "mainImg" src="https://peabody.vanderbilt.edu/admin-offices/popge/images/wyatt-center.jpg" >


</div>



        <form action="/search" method="GET">
            <h4>Search by First Name</h4>
            <div id="searchFirstName" class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="First Name"
                               style="">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button" style=""><a href="http://localhost:8080/searchresults=&fn:jonathan" >Go!</a></button>
        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

            <h4>Search by Last Name</h4>
            <div id="searchLastName" class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Last Name">
                        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><a href="http://localhost:8080/searchresults=&ln:steward" >Go!</a></button>
        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </form>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h6> Search by department</h6>
                <div class="vertical-menu" style="margin-bottom: 5%;">
                    <a href="#" class="active">Human and Organizational Development</a>
                    <a href="#">Leadership, Policy, and Organizations</a>
                    <a href="#">Psychology and Human Development</a>
                    <a href="#">Special Education</a>
                    <a href="#">Teaching and Learning</a>
                </div>

            </div>
            <div class="col-sm-4">
                <h6>Search for faculty</h6>
                <button id="facultyBtn" type="button" class="btn btn-primary btn-lg">Faculty</button>
            </div>
            <div class="col-sm-4">
                <h6>Search all alumni</h6>
                <button id="alumniBtn" type="button" class="btn btn-primary btn-lg"><a href="http://localhost:8080/searchresults=&" >Alumni</a></button>
            </div>
        </div>
    </div>


    <div id="testJs"></div>
</div> <!-- everything -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>